modules = ["web", "nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_ACCESS_SECRET = "8cb6e5916411e2aaa17742652d30987b1c5cbeeb390387876c1dca55a3a03e3692332e336eab9d14d33a793d52731c1e"
JWT_REFRESH_SECRET = "96739aab2b0d8a9ca4b73148a20fae2832798a15066d0b08423b6b0417e1cbed4850ab670a844166879a2d5cc6b6faea"
PORT = "8000"
